* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: black;
}

.mona-sans-regular {
  font-family: "Mona Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.mona-sans-bold {
  font-family: "Mona Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: bold;
  font-variation-settings: "wdth" 100;
}

#navbar {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 40px 20px;
}

.dribbble-logo {
  width: 120px;
  height: auto;
}

#nav-links {
  display: flex;
  gap: 40px;
  margin-left: 40px;
  padding: 0 20px;
}

#nav-links li {
  list-style: none;
  font-size: 14px;
  color: #333;
  cursor: pointer;
  font-size: 16px;
}

#nav-links li a {
  text-decoration: none;
}

#nav-links a:hover {
  color: grey;
}

.nav-cta {
  margin-left: auto;
  padding: 8px 16px;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.nav-cta .button {
  padding: 15px 20px;
  border-radius: 100vw;
  border: none;
  background: none;
}

.nav-cta .button a {
  text-decoration: none;
}

.nav-cta .button-primary {
  background-color: black;
}

.nav-cta .button-primary a {
  color: white;
}

.nav-cta .button-primary:hover {
  background-color: grey;
  cursor: pointer;
}
