* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mona-sans-regular {
  font-family: "Mona Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
